
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins&display=swap');


/* common style or utillities */
body{
    /* font-family: 'Hachi Maru Pop', cursive; */
    font-family: 'Poppins', sans-serif;
    background-color:#e6dfdf9c;
    margin: 0;
}



/*---------------------- 
       header Styles 
------------------------*/
header{
    background-color: #2D25A0;
    color:white;
}
.header-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 67px 140px 86px 156px;
}
.header-container h1{
    font-size:64px;
    font-weight:700;
    transition: color 0.5s ease;
}
.header-container h1:hover{
    color: aqua;
}
/*---------------------- 
       nav Styles 
------------------------*/
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 42px;;
}
nav a{
    margin-right: 16px;
    text-decoration:none;
    color:white;
}
nav a:hover{
    color:black;
}
header .header-banner-image img{
    width: 556px;
    height: 438px;
}

/*---------------------- 
       button Styles 
------------------------*/

.link-button{
    text-decoration: none;
    background-color:#E02C6D;
    color:white;
    padding:10px 15px;

}

/*--------------------------------------
       Player Photo album Styles 
---------------------------------------*/


.player-album{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    padding:70px 210px 160px 180px;
    
}
.photo-album{
    margin-top: 27px;
    background-color: white;
}
.photo-album .photo-frame{
    padding:15px;
}

.photo img{
    width:300px;
    height:256px
}

.photo-detail h3{
    font-size:28px;
    font-weight:700px;
}

/*--------------------------------------
       Football News Styles
---------------------------------------*/

.football-news {
    display:flex;
    justify-content: space-between;
    padding:70px 210px 160px 180px;
}

.football-news img {
    width: 567px;
    height: 427px;
}
.news-title h3{
    font-size:48px;
    font-weight:700;
}

